<link rel="stylesheet" href="../static/styles/admin.css">
<link rel="stylesheet" href="../static/styles/fonts.css">
<link rel="stylesheet" href="../static/styles/form.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>


<div class="container">
  {{> admin_nav}}
  <main id="form-editor"></main>
</div>


<!-- Form Editor -->
<script src="../static/form/form.js"></script>
<script>
  Elm.Main.embed(document.querySelector('#form-editor'))
</script>
