<link rel="stylesheet" href="static/styles/auth.css">
<link rel="stylesheet" href="static/styles/fonts.css">

<form id="setup" method="post">
  <h1>Setup</h1>
  <input name="username" placeholder="Username">
  <input name="password" placeholder="Password" type="password">
  <input name="email"    placeholder="Email">
  <button type="submit">Continue</button>
</form>
