/* @override http://localhost:3000/styles/form.css */

/* Test */
/*body {
	padding: 10px 100px;
	background-color: rgb(242, 242, 242);
}*/
/* /Test */

* {
	box-sizing: border-box;
}

form {
	height: 100%;
	background-color: white;
	max-width: 700px;
	margin: 0 auto;
	padding: 25px;
	color: rgba(0, 0, 0, 0.8);
}

form h1 {
	margin-top: 0;
	font-weight: normal;
	display: flex;
	align-items: center;
	/*justify-content: center;*/
}

#save {
	align-self: flex-end;
	margin-left: auto;
	background: none;
	border: none;
	height: 32px;
	padding: 5px 10px;
	font-size: 16px;
	background-color: red;
	margin-top: 100px;
}

#save:hover {
	color: rgb(0, 163, 255);
	cursor: pointer;
}

/**
 * Form options
 */
#form-options {
	padding: 0;
}

.form-option {
	background-color: white;
	list-style: none;
	padding: 20px;
	position: relative;
}

.form-option > .name, .form-option > .description {
	outline: none;
	color: rgba(0, 0, 0, 0.8);
}

.form-option > .name {
	width: 75%;
	font-size: 18px;
	border: none;
	margin: 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.8);
	padding: 5px 0;
	display: block;
}

.form-option > .name.wide {
	width: 100%;
}

.euro {
	display: inline-block;
	height: 30px;
}

.form-option > .name, .form-option > .cost {
	font-size: 18px;
	border: none;
	margin: 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.8);
	padding: 5px 0;
	display: inline-block;
}



.form-option > .cost {
	width: 20%;
	float: right;
}

.form-option > .name:focus, .form-option > .description:focus, .form-option > .cost:focus {
	border-color: rgb(0, 163, 255);
	outline: none;
}

.form-option > .remove, .add-suboption {
	position: absolute;
	right: -10px;
	background: none;
	border: none;
	font-size: 20px;
	color: grey;
}

.form-option > .remove {
	top: 30px;
}

.add-suboption {
	top: 60px;
}

.remove:hover, .add-suboption:hover {
	color:  rgb(0, 163, 255);
	cursor: pointer;
}

.form-option > .description {
	padding: 5px 10px;
	resize: vertical;
	border: none;
	min-height: 100px;
	font-size: 15px;
	width: 100%;
}


.new {
	border: 1px dashed lightgrey;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	margin: 0;
	margin-left: 20px;
	color: lightgrey;
}

.new:hover {
	border-color: grey;
	color: grey;
	cursor: pointer;
}

/**
 * Sub-options
 */

.sub-options {
	padding: 0 20px;
	list-style: none;
}

.sub-option > .euro {
	font-size: 12px;

}

.sub-option > input {
	outline: none;
	border: none;
	padding: 5px;
	border-bottom: 1px solid lightgrey;
}

.sub-option > input:focus {
	border-bottom: 1px solid rgb(0, 163, 255);
}


/**
 * Button
 */
form button[type="submit"] {
	float: right;
	background: none;
	padding: 5px 10px;
	border: 1px solid black;
	margin-right: 25px;
}

form button[type="submit"]:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

/**
 * Additional customer information
 */
form > input, h3:not(.name) {
	display: block;
	padding: 5px 10px;
	margin-bottom: 10px;
	margin-left: 25px;
	margin-right: 25px;
}

form > input, form > textarea {
	border: 1px solid lightgrey;
}

input.error {
	border: 1px solid red;
}

label.error {
	display: none !important;
}

form > h3:not(.name) {
	padding-left: 0;
}

.notes-container {
	width: 100%;
	padding: 0 25px;
}

textarea[name="notes"] {
	width: calc(100% - 50px);
	margin-left: 25px;
	margin-bottom: 20px;
	min-height: 150px;
	padding: 10px;
}

/**
 * Drag and Drop
 */
.sortable-placeholder {
	height: 150px;
	border: 1px dashed rgb(0, 163, 255);
	list-style: none;
}
